<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <link rel="stylesheet" href="css/ontofinder.css" type="text/css" />
  <title>PubAnnotation SPARQL</title>
</head>
<body>
<h1>PubAnnotation SPARQL (prototype)</h1>

<form name="sparql" method="get" action="/sparql">
<div>
Default Graph IRI<br/>
<input type="text" name="default-graph-uri" size="60" value="http://pubannotation.org/projects/craft" />
</div>
<div>
SPARQL<br/>
<textarea id="query" name="query" maxlength="1200" required="required" style="height:200px; width:680px"></textarea>
</div>
<input type="submit" name="submit" value="submit" style="height: 60px; width: 680px" />
</form>
<br/><br/>

<fieldset style="display:inline-block">
<legend>Example: search for the word <i>binds.</i> </legend>
<p>
<textarea id="query" name="query" maxlength="1200" style="height:270px; width:650px" readonly="readonly">
PREFIX penn:<http://example.org/penntag.owl#>
PREFIX tao:<http://pubannotation.org/ontology/tao.owl#>
select ?s1 where {
  ?o1 tao:denoted_by ?s1 .

  ?s1 tao:part_of ?t1 ;
      tao:has_value "binds".
} limit 10
</textarea>
</fieldset>

<fieldset style="display:inline-block">
<legend>Example: search for the sequence <i>noun preposition</i> where the preposition is <i>of</i>.</legend>
<p>
<textarea id="query" name="query" maxlength="1200" style="height:270px; width:650px" readonly="readonly">
PREFIX tao: <http://pubannotation.org/ontology/tao.owl#>
PREFIX penn: <http://pubannotation.org/projects/CRAFT-treebank#>
select ?s1 ?s2 where {
  ?o1 a penn:NN ;
      tao:denoted_by ?s1 .
  ?o2 a penn:IN ;
      tao:denoted_by ?s2 .

  ?s1 tao:part_of ?t1 .
  ?s2 tao:part_of ?t2 ;
      tao:has_value "of" .

  ?s1 tao:followed_by ?s2.
  FILTER (?t1 = ?t2)
} limit 100</textarea>
</fieldset>



<fieldset style="display:inline-block">
<legend>Example: Search for a biological process. (The labels on the various semantic classes of named entities are: <i>Entrez_gene, cell_Instance, cellular_component, chebi, organism,</i> and <i>geneOrGeneProduct.</i>).</legend>
<p></p>
<textarea id="query" name="query" maxlength="1200" style="height:270px; width:650px" readonly="readonly">
PREFIX : <http://http://bionlp-corpora.sourceforge.net/craft/ontology/craft.owl#>
PREFIX tao:<http://pubannotation.org/ontology/tao.owl#>
select ?s1 where {
  ?o1 tao:denoted_by ?s1 ;
      a ?l .

  FILTER regex(?l,"organism")
} limit 100
</textarea>
</fieldset>
<br/><br/>

<fieldset style="display:inline-block">
<legend>Example: Search for a noun phrase (NP) that dominates a coordinating conjunction (CC), where the coordinating conjunction is <i>and.</i></legend>
<p></p>
<textarea id="query" name="query" maxlength="1200" style="height:270px; width:650px" readonly="readonly">
PREFIX penn: <http://pubannotation.org/projects/CRAFT-treebank#>
PREFIX tao:<http://pubannotation.org/ontology/tao.owl#>
select ?s1 ?s2 where {
  ?o1 a penn:NP ;
      tao:denoted_by ?s1 .
  ?o2 a penn:CC ;
      tao:denoted_by ?s2 .

  ?s1 tao:part_of ?t1 ;
      tao:begins_at ?b1 ;
      tao:ends_at ?e1 .
  ?s2 tao:part_of ?t2 ;
      tao:begins_at ?b2 ;
      tao:ends_at ?e2 ;
      tao:has_value "and" .
      FILTER (?b1 < ?b2)
      FILTER (?e1 > ?e2)
      FILTER (?t1 = ?t2)
} limit 100


</textarea>
</fieldset>
<br/><br/>

<fieldset style="display:inline-block">
<legend>Example 1.</legend>
<p>Example: Search for organism annotations within a noun phrase. (The labels on the various semantic classes of named entities are: <i>Entrez_gene, cell_Instance, cellular_component, chebi, organism,</i> and <i>geneOrGeneProduct.</i>)</p>
<textarea id="query" name="query" maxlength="1200" style="height:270px; width:650px" readonly="readonly">
PREFIX : <http://http://bionlp-corpora.sourceforge.net/craft/ontology/craft.owl#>
PREFIX tao:<http://pubannotation.org/ontology/tao.owl#>
PREFIX penn: <http://pubannotation.org/projects/CRAFT-treebank#>

select ?s1 ?s2 where {
  ?o1 a penn:NP ;
      tao:denoted_by ?s1 .
  ?o2 tao:denoted_by ?s2 ;
      a ?c .

  ?s1 tao:part_of ?t1 ;
      tao:begins_at ?b1 ;
      tao:ends_at ?e1 .
  ?s2 tao:part_of ?t2 ;
      tao:begins_at ?b2 ;
      tao:ends_at ?e2 .
      FILTER (?b1 < ?b2)
      FILTER (?e1 > ?e2)
      FILTER (?t1 = ?t2)
  FILTER regex(?c,"organism")
} limit 100

</textarea>
</fieldset>
<br/><br/>

</body>
</html>

