<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="http://textae.pubannotation.org/vender/jquery.jsPlumb-1.5.2-min.js"></script>
  <script src="http://textae.pubannotation.org/lib/textae.min.js"></script>
  <link rel="stylesheet" href="http://textae.pubannotation.org/lib/css/textae.min.css" />
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>
<body>

<% @results.each_solution do |solution| %>
  <% vars = solution.to_h.keys -%>
  <% s = solution[vars[0]].to_s %>
  <% p = s.rindex('/') -%>
  <% url = s[0 .. p] -%>
  <% span = s[p + 1 .. -1] -%>
  <% mbeg, mend = span.split('-') -%>
  <% (1 ... vars.length).each do |i| -%>
    <% s = solution[vars[i]].to_s -%>
    <% p = s.rindex('/') -%>
    <% span = s[p + 1 .. -1] -%>
    <% sbeg, send = span.split('-') -%>
    <% mbeg = sbeg if sbeg < mbeg -%>
    <% mend = send if send > mend -%>
  <% end -%>
  <% ann = url + mbeg + '-' + mend + '/annotations.json?context_size=20' %>
  <% ann += "&project=" + @project unless @project.nil? %>
  <div class="textae-editor" target="<%= ann %>"></div>
  <hr/>
<% end %>

</body>
</html>
