<table class="query-list">
  <tr>
    <th>No.</th>
    <th>Title</th>
  </tr>

<% @queries.each do |query| %>
  <tr>
    <td class="number"><%= query.priority %></td>
    <td><a onclick="setquery(<%= query.to_json %>)"><%= raw query.title %></a></td>
  </tr>
<% end %>
</table>
