<table>
<% @queries.each do |query| %>
  <tr>
    <td class="number"><%= query.priority %></td>
    <td><%= link_to raw(query.title), home_index_path(template_id: query.id) %></td>
  </tr>
<% end %>
</table>
