/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0;
  padding: 0;
  font-family: Meiryo, "メイリオ", "MS PGothic","MS Pゴシック", osaka, Verdana, Geneva, sans-serif;
  font-size: small;
}

.frame {
  position:relative;
  margin: 0;
  height: 50px;
  padding: 10px;
  padding-top:30px;
  vertical-align: middle;
  background-color: #002266;
  color: #aaaaaa;
}

.frame a {
  color: #bbbbff;
  background-color: #002266;
  text-decoration: none;
}

.frame a:visited {
  color: #bbbbff;
  background-color: #002266;
  text-decoration: none;
}

.frame a:hover {
  color: #ddddff;
  background-color: #002266;
  text-decoration: none;
}


#notice {
  color: #ff0000;
}

.notice {
  ul {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
    -webkit-padding-start: 0px;

    li {
      margin: 0px;
      padding: 0px;
    }
  }
}

#main {
  margin:0px;
  padding:5px;
}

.meta {
  color: #888888;
}

.info {
  font-size: smaller;
  font-weight: normal;
  text-decoration: none;
}

.pname {
  font-style: italic;
}

.credit {
  font-style:italic;
  text-align:center;
}

.capitalize{
  text-transform:capitalize;
}

.capitalize_first:first-letter{
  text-transform:capitalize;
}

.highlight{
  background-color: lighten(#ccc, 13%);
  font-weight: bold;
  padding: 0.1em 0;
}

.title {
  margin: 0;
  padding: 0;
  font-size: xx-large;
  font-weight: bold;
  vertical-align: middle;
}

h1 {
  width:450px;
  border:solid #002266;
  border-width: 0px 0px 1px 5px;
  padding-left: 10px;
  margin-top: 20px;
  font-size: large;
}

h2 {
  width:450px;
  margin-top:25px;
  margin-bottom:10px;
  padding:0px 2px 1px 4px;
  border: solid #002266;
  border-width: 0 0 1px 5px;
  border-top-left-radius:7px;
  border-bottom-left-radius:7px;
  font-size: medium;
}


h3 {
    width:3em;
    margin-top:15px;
    margin-bottom:10px;
    white-space:nowrap;
    padding:2px;

    font-size:small;
    font-weight:bold;
    /* fallback (Opera) */
    background: #EECCCC;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #9999FF, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear, left top, right top, from(#9999FF), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#9999FF', EndColorStr='#FFFFFF', GradientType=1);
}

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    
    background-color:#ffffff;
    
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    
    border:1px solid #dcdcdc;
    
    display:inline-block;
    color:#666666;
    font-family:arial;
    font-size: smaller;
    padding:2px 12px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #ffffff;
    cursor: pointer;   
}
.button:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    
    background-color:#f6f6f6;
}
.button:active {
    position:relative;
    top:1px;
}
