body {
  margin: 0;
  padding: 0;
  font-family: Meiryo, "メイリオ", "MS PGothic","MS Pゴシック", osaka, Verdana, Geneva, sans-serif;
  font-size: small;
  line-height: 1.2em;
}

.meta {
  color: #888888;
}

.info {
  font-size: smaller;
  font-weight: normal;
  text-decoration: none;
}

h1 {
  width: 20em;
  border:solid #002266;
  border-width: 0px 0px 1px 5px;
  padding-left: 10px;
  margin-top: 20px 0 5px 0;
  font-size: large;
}

h2 {
  margin-top:25px;
  margin-bottom:10px;
  padding:0px 2px 1px 4px;
  border: solid #002266;
  border-width: 0 0 1px 5px;
  border-top-left-radius:7px;
  border-bottom-left-radius:7px;
  font-size: medium;
}


h3 {
    width:3em;
    margin-top:15px;
    margin-bottom:10px;
    white-space:nowrap;
    padding:2px;

    font-size:small;
    font-weight:bold;
    /* fallback (Opera) */
    background: #EECCCC;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #9999FF, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear, left top, right top, from(#9999FF), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#9999FF', EndColorStr='#FFFFFF', GradientType=1);
}

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    
    background-color:#ffffff;
    
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    
    border:1px solid #dcdcdc;
    
    display:inline-block;
    color:#666666;
    font-family:arial;
    font-size: smaller;
    padding:2px 12px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #ffffff;
    cursor: pointer;   
}
.button:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    
    background-color:#f6f6f6;
}
.button:active {
    position:relative;
    top:1px;
}

table {
  border-collapse: collapse;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table th, td {
  padding: 4px;
}

table, th, td {
  border-style: solid;
  border-width: 1px;
  border-color: #8888dd;
}

th {
  background-color: #ccccff;
}

table.plain {
  border-style: solid;
  vertical-align: top;
}

table.plain th, td {
  border-style: solid;
  vertical-align: top;
  background-color: #ffffff;
}

td.number {
  text-align: right;
}

pre {
  margin: 0;
  background-color: #eee;
  font-size: 11px;
  white-space: pre-wrap;
}

.options {
  font-size: smaller;
}