// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.CodeMirror {
  display: block;
  border-style: solid;
  border-color: #002266;
  border-width: 1px;
  width: 600px;
}

.example-queries {
	display: inline-block;
	width: 600px;
	vertical-align: top;
}

#comment {
	border-style: solid;
	border-color: #6688cc;
	border-width: 1px;
	margin: 5px 0;
	padding: 4px;
	width: 590px;
	background-color: #ffc;
	box-shadow: 2px 2px 2px;

}

#comment h1 {
	border-style: none;
	margin: 5px 0;
	padding: 0;
	font-size: medium;
}

#comment h2 {
	border-style: none;
	margin: 5px 0;
	padding: 0;
	font-size: small;
}