// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.CodeMirror {
  display: block;
  border-style: solid;
  border-color: #002266;
  border-width: 1px;
}

.main-panel {
	float:left;
	vertical-align: text-top;
	width: 55%;
	margin: 4px;
	padding: 5px;
}

.panel {
	display: inline-block;
	vertical-align: text-top;
	width: 40%;
	margin: 4px;
	padding: 5px;
}

/* Responsive Stuff */
/* @media screen and (max-width: 568px) { */
@media screen and (max-width: 1060px) {
	.panel {
		width: 38%;
	}
}

@media screen and (max-width: 870px) {
	.panel {
		width: 35%;
	}
}

@media screen and (max-width: 860px) {
	.main-panel {
		display: block;
		float: none;
		width: 95%;
	}
	.panel {
		display: block;
		width: 95%;
	}
}

#comment {
	border-style: solid;
	border-color: #6688cc;
	border-width: 1px;
	margin: 5px 0;
	padding: 4px;
	background-color: #ffc;
	box-shadow: 2px 2px 2px;

}

#comment h1 {
	border-style: none;
	margin: 10px 0 5px 0;
	padding: 0;
	font-size: medium;
}

#comment h2 {
	border-style: none;
	margin: 10px 0 2px 0;
	padding: 0;
	font-size: small;
}