.queries {
  .serial {width: 2em}
  .description {}
  .control {width: 9em;}
}

.query-list {
	display: block;
	height: 90%;
	overflow-y: scroll;

	a {text-decoration: none}
	a:hover {text-decoration: underline}
}

#template input {
	width: 5em;
}